<h3>Edit Your Contact</h3>

 <%= form_tag "/contacts/#{@contact.id}", method: :patch do%>
  <p>First Name <input type="text" name="first_name" value="<%= @contact.first_name%>"></p>
  <p>Last Name <input type="text" name="last_name" value="<%= @contact.last_name%>"></p>
  <p>Email <input type="text" name="email" value="<%= @contact.email%>"></p>
  <p>Phone Number <input type="text" name="phone_number" value="<%= @contact.phone_number%>"></p>
  <p><input type="submit" value="Edit Contact"></p>
<% end %>