<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contact
</button>

<% if session[:user_id] == nil %>
  <h3>Oh snap! It looks like you aren't logged in so you can't see any contacts.</h3>
  <h3>You should probably <a href="/login">log in.</a></h3>
<% else %>
  <p>Count: <%= @contacts.count %></p>
  <% @contacts.each do |contact| %>
    <p><a href="/contacts/<%= contact.id %>"><%= contact.first_name %></a></p>
    <p><%= contact.last_name %></p>
    <p><%= contact.email %></p>
    <p><%= contact.japanese_country_code %></p>
    <p><%= contact.bio %></p>
    <hr>
  <% end %> 
<% end %>

<%= form_tag "/contacts/new", method: :get do %>
  <input type="submit" value="Create New Contact">
<% end %>