<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contact
</button>

<% @contacts.each do |contact| %>
  <p><a href="/contacts/<%= contact.id %>"><%= contact.first_name %></a></p>
  <p><%= contact.last_name %></p>
  <p><%= contact.email %></p>
  <p><%= contact.japanese_country_code %></p>
  <hr>
<% end %> 

<%= form_tag "/contacts/new", method: :get do %>
  <input type="submit" value="Create New Contact">
<% end %>