<h1><%= @contact.first_name%></h1>

<p><strong>Full Name: </strong><%= @contact.full_name %></p>
<p><strong>Email: </strong><%= @contact.email%></p>
<p><strong>Phone Number: </strong><%= @contact.japanese_country_code%></p>

<p><strong>Contact Last Edited: </strong><%= @contact.display_updated_time %></p>

<br>

<%= form_tag "/contacts/#{@contact.id}/edit", method: :get do %>
  <input type="submit" value="Edit Contact">
<% end %>
<hr>
<%= form_tag "/contacts/#{@contact.id}", method: :delete do %>
  <input type="submit" value="Remove Contact">
<% end %>
